<div class="card mt-4">
    <div class="card-body">

        <h1 class="mt-4">{{postagem.titulo}}</h1>
        <hr>
        <small>Data da publicação{{postagem.data}}</small>
        <hr>

        {{postagem.conteudo}}

    </div>
</div>